body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {background-color:   #696194
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  
}

.pismostyl1 {font-family: "Lucida Console", Monaco, monospace;
  font-size: 40px;
  letter-spacing: -0.2px;
  word-spacing: -5px;
  color: #006306;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }
  